<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/app.css">
    <title>SWElecciones</title>
</head>
<body class="container-fluid">
    <div class="text-center centerDiv" style="transform: translate(0%,100%)">
        <h1 class="display-3 mb-5">Bienvenido al centro de elecciones</h1>
        <a href="/setDates">
            <button class="btn btn-outline-warning btn-lg btn-block mt-5" style="transform: translate(0%,300%)">Ingrese y vote</button>
        </a>
    </div>
    

    <script src="/bootstrap/jquery-3.3.1.min.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>
</body>
</html>